// Here we call all the style files

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss"; // Bootstrap grid see -> https://getbootstrap.com/docs/4.0/layout/grid/#variables
@import "variables.scss";

// Here comes all the typo styles
body {
    overflow-x: hidden;
    max-width: 100%;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
}

* {
    line-height: 1.62;
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: normal;
}

a {
    color: $c-gray;
    font-size: 14px;
    text-decoration: none;

    &:hover {
        color: $c-blue-secondary;
    }
}

input,
button,
select,
textarea {
    background-color: white;
    border-radius: none;
    border: 1px solid $c-gray;

    &:active,
    &:focus {
        border-color: $c-blue-secondary;
    }
}

ul,
li {
    list-style: none;
}